<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: aliceblue">Live Attendance App</h1>
    <div class="d-flex">
      <button
        routerLink="/attendance-list"
        [class.disabled]="isAttendanceActive()"
        class="btn btn-warning me-3"
      >
        Attendance List
      </button>
      <button
        routerLink="/employee-list"
        [class.disabled]="isEmployeeActive()"
        class="btn btn-warning me-3"
      >
        Employee List
      </button>
    </div>
  </div>
</nav>
<router-outlet />
